frontend_service/src/assets/xml/contactData.dtd

<!ELEMENT cData (phone,email,address,coordinates, openHours)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (city,street,buildingNumber)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT buildingNumber (#PCDATA)>
<!ELEMENT coordinates (longitude,latitude)>
<!ELEMENT longitude (#PCDATA)>
<!ELEMENT latitude (#PCDATA)>
<!ELEMENT openHours (day, hours)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT hours (#PCDATA)>
